.overlay {
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    background: none;
    padding: 0;
  }
  